body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #00c6ff, #ffbc00); /* Blue to Yellow Gradient */
  }
  
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    transition: background-color 0.2s;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #f9f9f9;
  }
  
  input {
    grid-column: span 4;
    font-size: 30px;
    padding: 10px;
    text-align: right;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  